*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #f6f8f9;
    font-family: 'Roboto', sans-serif;
}

.top-row{
    background-color: white;
}

#Logo{
    display: inline;
    height: 100px;
    vertical-align: middle;
    padding-top: 20px;
    padding-left: 20px;
}

#Titolo{
    display: inline;
    font-size: 90px;
    vertical-align: middle;
    padding-top: 20px;
}

.add-section{
    height: 70px;
    width: 1700px;
    margin: auto;
    background-color: white;
    margin-top: 70px;
    border-radius: 5px;
}

.buttom{
    padding: 8px;
    margin-top: 20px;
    margin-left: 100px;
    border-radius: 5px;
    
}

.task{
    background-color: #47adf1;
    color: white;
    border: none;

}

.section{
    margin-left: 5px;
    color: lightgray;
    background-color: white;
    border-color: lightgray;
}