*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #f6f8f9;
    font-family: 'Roboto', sans-serif;
}

.top-row{
    background-color: white;
}

#Logo{
    display: inline;
    height: 100px;
    vertical-align: middle;
    padding-top: 20px;
    padding-left: 20px;
}

#Titolo{
    display: inline;
    font-size: 90px;
    vertical-align: middle;
    padding-top: 20px;
}

.add-section{
    height: 70px;
    width: 1700px;
    margin: auto;
    background-color: white;
    margin-top: 70px;
    border-radius: 5px;
}

.buttom{
    padding: 8px;
    margin-top: 20px;
    margin-left: 100px;
    border-radius: 5px;
    
}

.task{
    background-color: #47adf1;
    color: white;
    border: none;

}

.section{
    margin-left: 5px;
    color: lightgray;
    background-color: white;
    border-color: lightgray;
}

h3{
    color: #444851;
    font-size: 40px;
}

.list-section{
    width: 1700px;
    height: 1000px;
    margin: auto;
    background-color: white;
    border-radius: 5px;
    margin-top: 5px;
}

.new-task{   
    padding-left: 90px;
    padding-top: 70px;
}

.checkmark{
    color: #93d6c8;
    border: solid;
    border-width: 1px;
    border-color: #93d6c8;
    border-radius: 50%;
    padding: 3px;
}

.list-item{
    font-size: 25px;

}

.tag{
    font-size: 13px;
    padding: 8px 10px;
    border-radius: 15px;
    color: white;
}

.tag-blue{  
    background-color: #47adf1;
}

.tag-purple{
    background-color: #9c72e4;
}

.tag-green{
    background-color: #64c0a9;
}

.tag-orange{
    background-color: #f29e33;
}

.today{
    padding-left: 90px;
    padding-top: 70px; 
}

.row{
    margin-top: 30px;
}

.cross{
    color: #eb5952;
    border: solid;
    border-width: 1px;
    border-color: #eb5952;
    border-radius: 50%;
    padding: 3px;
}



